* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;  
    align-items: center;
    display: grid;
    background-color: #606060;
   
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-self: end;
    grid-gap: 5px;
}

// this covers the game screen and prevents you from clicking on cells once the game is won

.containerCover {
    position: absolute;
    display: grid;
    height: 500px;
    width: 500px;
    z-index: 4;
    justify-content: center;
    align-self: center;
    background-color: transparent;
}

.gameCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #303030;
    border-radius: 5px;


    &:hover {
        border: 1px solid white;
    }
}

.crossLeft, .crossRight, .crossHoverLeft, .crossHoverRight {
    display: flex;
    height: 150px;
    width: 10px;
    background-color: aquamarine;
    border-radius: 50px;
    position: absolute;

   
};




.crossHoverLeft, .crossHoverRight, .circleHover {
    opacity: 0.5;
}

@keyframes crossLeftAnim {
    from{
        height: 0px
        
    } to {
        height: inherit;
    }
}
@keyframes crossRightAnim {
    from{
        height: 0px
       
    } to {
        height: inherit;
        
    }
};

.crossLeft {
    transform: rotate(45deg);
    animation: crossLeftAnim .25s ease-in-out;
   
}

.crossRight {
    transform: rotate(-45deg);
    animation: crossRightAnim .25s ease-in-out
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    border: 10px solid whitesmoke;
    animation: circleAnim .5s ease;
}


@keyframes circleAnim {
    0% {
        border: 0px whitesmoke;
    } 25% {
        border-top: 10px solid whitesmoke;
    } 50% {
        border-right: 10px solid whitesmoke;
    } 75% {
        border-bottom: 10px solid whitesmoke;
    } 100% {
        border-left: 10px solid whitesmoke;
    }

}
@keyframes circleAnimSmartphone {
    0% {
        border: 0px whitesmoke;
    } 25% {
        border-top: 7.5px solid whitesmoke;
    } 50% {
        border-right: 7.5px solid whitesmoke;
    } 75% {
        border-bottom: 7.5px solid whitesmoke;
    } 100% {
        border-left: 7.5px solid whitesmoke;
    }

}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart {
    width: 200px;
    height: 75px;
    padding: 10px;
    background-color: rgb(161, 26, 53);
    color: white;
    font-family: Helvetica, sans-serif;
    display: grid;
    font-size: 40px;
    border-radius: 5px;
    align-items: center;
    
}

// menu
.gameMenu {
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100vw;
}
.btnMenu {
    width: 300px;
    height: 150px;
    background-color: beige;
    padding: 10px;
}


// smartphone screen resize

@media screen and (max-width: 350px) and (max-height: 600px) {
    .gameCell {
        width: 80px;
        height: 80px;
    }

    .crossLeft, .crossRight {
        height: 75px;
        width: 7.5px
    }

    .circle {
        width: 65px; 
        height: 65px;
        border: 5px solid whitesmoke;
        animation: circleAnimSmartphone .5s ease;
    }

    .restart {
        width: 125px;
        height: 40px;
        font-size: 25px;
        padding: 0;
    }

    
}
